{% extends "base.html" %}
{% block content %}
<div id="list_wrapper">
    <h1>入店・来店時に名前を</h1>
    <h1>タップしてください</h1>

    <table border="1" id="list_table">
        {% for item in user_list %}

        {% if item['flag'] == 0 %}
        <tr>
            <td><a class="my_name out_store" data-id="{{item['id']}}">{{item["name"]}}</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td><a class="my_name in_store" data-id="{{item['id']}}">{{item["name"]}}</a>
            </td>
        </tr>
        {% endif %}


        {% if item['flag'] == 0 %}
        <div class="modal_wrapper" id="enter_modal{{item['id']}}">
            <div class="modal adult">
                <div class="modal_child">
                    <h2>{{item["name"]}}さん</h2>
                    <h2>入店しますか？</h2>

                    <form action="/a87fhmhnkb0tenter_yes(/{{item['id']}}" method="post">
                        <p>
                            <select name="number" required class="guest">
                                <option value="0" hidden>お連れ様人数を選択してください</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="5">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        </p>
                        <input type="submit" name="decision" value="はい" class="yes_btn btn">
                    </form>
                    <button class="no_btn enter_no btn" data-id="{{item['id']}}">いいえ</button>
                </div>
            </div>
        </div>
        {% else %}
        <div class="modal_wrapper" id="out_modal{{item['id']}}">
            <div class="modal adult">
                <div class="modal_child">
                    <h2>{{item["name"]}}さん</h2>
                    <h2>退店しますか？</h2>

                    <form action="/hiw5lfsmmj3zout_yes/{{item['id']}}">
                        <input type="submit" name="decision" value="はい" class="yes_btn btn">
                    </form>
                    <button class="no_btn out_no btn" data-id="{{item['id']}}">いいえ</button>
                </div>
            </div>
        </div>
        {% endif %}

        {% endfor %}
    </table>
</div>

{% endblock %}